{% load humanize %}
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th scope="col">Note</th>
        <th scope="col">Added At</th>
        <th scope="col">Updated At</th>
    </tr>
    </thead>
    <tbody>
    {% for i in object_list %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ i.amount|intcomma }}</td>
        <td>{{ i.category }}</td>
        <td>{{ i.note }}</td>
        <td>{{ i.added_at|date:"d-m-Y H:i" }}</td>
        <td>{{ i.updated_at|date:"d-m-Y H:i" }}</td>

    </tr>
    {% empty %}
    <tr>
        <td colspan="6">
            <p class="text-center">
                Not found :(
            </p>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>